.menu-icon {
  position: absolute;
  top: 5px;
  right: 3px;
  cursor: pointer;
  font-size: 36px;
}

.menu-icon:hover {
  background-color: rgba(125, 125, 125, 0.3);
  border-radius: 50%;
}

.hidden {
  display: none;
}
