.menu-item-nc {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 24px !important;
}
.menu-item-nc:hover {
  background-color: rgba(125, 125, 125, 0.2);
  border-radius: 50%;
}

.hidden {
  display: none;
}
